<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body class="dashboard">
<div class="wrapper">
    <div th:replace="fragments/fragments :: sidebar"></div>

    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="fragments/fragments :: nav2"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-sm-10 mx-auto text-center page-hero" style="padding-bottom: 10px">
                    <h4>Family Events Calendar</h4>
                </div>
            </div>
            <div id="app"></div>
            <footer th:replace="fragments/fragments :: footer"></footer>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    let eventsList = [[${familyEvents}]];
</script>
<script src="/js/script.js"></script>
</body>
</html>