<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body class="dashboard">
<div class="wrapper">
    <div th:replace="fragments/fragments :: sidebar"></div>

    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="fragments/fragments :: nav2"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 align-content-center">
                    <div class="card card-stats" th:object="${eventDetails}">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <img src="/images/icons/calendarBig.png" alt="" height="100"
                                         class="d-inline-block">
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="details">
                                        <p class="card-category"
                                           style="font-size: 24px; text-decoration: underline; padding-bottom: 10px; text-align: center">
                                            Event</p>
                                        <p class="card-text"><span th:text="|Event name: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{eventName}"></span></p>
                                        <p class="card-text"><span th:text="|Event date: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{eventDate}"></span></p>
                                        <p class="card-text"><span th:text="|Event location: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{location}"></span></p>
                                        <p class="card-text"><span th:text="|Event owner: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{belongTo}"></span></p>
                                        <p class="card-text"><span th:text="|Added by: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{addedFrom}"></span></p>
                                        <p class="card-text"><span th:text="|Notes: |"
                                                                   style="text-decoration: underline"></span><span
                                                th:text=" *{note}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="btn-group rounded align-items-center"
                                 style="background-color: #333a6e">
                                <a type="button" class="btn btn-sm"
                                   style="color: #f8f0f3; text-align: center !important;"
                                   th:href="@{/events/delete/{id}(id=*{id})}">Delete
                                </a>
                            </div>
                            <div class="btn-group rounded align-items-center"
                                 style="background-color: #333a6e">
                                <a type="button" class="btn btn-sm"
                                   style="color: #f8f0f3; text-align: center !important;"
                                   th:href="@{/events/update/{id}(id=*{id})}">Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/fragments :: footer"></footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>