@import "bootstrap";

///*--------------------------------------------------------------
//# index
//--------------------------------------------------------------*/

body.text {
  font-family: "Trebuchet MS", sans-serif;
  color: #333a6e;
}

body.index {
  max-width: 100%;
  height: auto;
  background-size: auto;
  background: linear-gradient(45deg, rgba(255, 173, 79, 0.6), rgba(255, 230, 202, 0.6)), url("../images/background.png") center no-repeat;
  font-family: "Trebuchet MS", sans-serif;

}


.navbar-brand, a.nav-link, .nav-item > ul > li, .copyright, .intro-text, .dropdown-item {
  font-family: "Trebuchet MS", sans-serif !important;
  font-weight: 400 !important;
  color: #333a6e !important;
}

.dropdown-menu {
  background-color: #f8f0f3 !important;
  border-radius: 12px !important;
}

.nav-item > ul {
  background-color: #f8f0f3 !important;
}

#navbarNavDropdow > ul > li > form > button {
  color: #333a6e;
  border: 0 transparent;
  font-family: "Trebuchet MS", sans-serif !important;
  font-weight: 400 !important;
  background-color: transparent;

}

a.nav-link:hover, .nav-item > ul > li:hover, #navbarNavDropdow > ul > li > form > button:hover {
  color: #333a6e;
  text-decoration: underline;
}

.intro-text {
  padding: 150px;
}

.intro-text h2 {
  font-size: 35px;
}

.intro-text p {
  font-size: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
}


///*--------------------------------------------------------------
//# login, register forms
//--------------------------------------------------------------*/


.login-form {
  background-color: rgba(248, 240, 243, 0.3);
  max-height: 500px;
  max-width: 400px;
  padding: 15px 25px;
  border-radius: 25px;
}

.login-card {
  padding: 15px;
}

.form-group > label {
  color: #333a6e !important;
  font-size: 16px;
  font-weight: 500;
  font-family: "Trebuchet MS", sans-serif;
}

.form-group > input, .form-group > select, .form-group > textarea {
  font-size: 14px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
}

.register-form {
  background-color: rgba(248, 240, 243, 0.3);
  max-height: 500px;
  max-width: 700px;
  padding: 15px 25px;
  border-radius: 25px;
}


///*--------------------------------------------------------------
//# dashboard
//--------------------------------------------------------------*/

.dashboard {
  background-color: #f8f0f3;
  color: #333a6e;
  font-size: 14px;
  font-family: "Trebuchet MS", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

///*--------------------------------------------------------------
//# dashboard sidebar
//--------------------------------------------------------------*/

.sidebar, .off-canvas-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 1030;
  border-right: 1px solid #ddd;
  background-color: #ac7b8b;
}

.sidebar .logo, .off-canvas-sidebar .logo {
  position: relative;
  align-content: center;
  padding: 7px 0.7rem;
  z-index: 4;
  border-bottom: 1px solid #ddd;
}

.sidebar.logo a {
  color: #f8f0f3 !important;
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 100px;
}

.sidebar .nav, .off-canvas-sidebar .nav {
  margin-top: 20px;
  display: block;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 10px 15px 0;
  color: #f8f0f3;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 8px;
  line-height: 30px;
  opacity: .7;
}

.sidebar .nav li > a > p {
  //text-align: center;
  align-items: center;
}

.fam::before {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  content: url("/images/icons/stats.png");
}

.bdg::before {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  content: url("/images/icons/income.png");
}

.exps::before {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  content: url("/images/icons/expense.png");
}

.adm::before {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  content: url("/images/icons/admin.png");
}

.evnt::before {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  content: url("/images/icons/calendar.png");
}

///*--------------------------------------------------------------
//# dashboard main nav
//--------------------------------------------------------------*/

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel > .navbar {
  margin-bottom: 0;
}

.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}

.navbar {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 20px;
}

.nav-pills .nav-link, .navbar, .nav-tabs .nav-link, .sidebar .nav a, .sidebar .nav a i, .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal, .tag, .tag [data-role="remove"], .animation-transition-general, .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal {
  transition: all 300ms ease 0s;
}

.navbar .navbar-wrapper {
  display: inline-flex;
  align-items: center;
}

.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
  color: #66615B;
}

.navbar a:not(.btn):not(.dropdown-item) {
  color: #FFFFFF;
}

.navbar .navbar-brand {
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
}

.navbar a {
  vertical-align: middle;
}

///*--------------------------------------------------------------
//# dashboard main content
//--------------------------------------------------------------*/

.main-panel > .content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 75px);
  margin-top: 93px;
}

.card {
  border-radius: 15px !important;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: #fff8ee !important;
  color: #333a6e;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  overflow: hidden;
}

.card-stats.card-body {
  padding: 15px 15px 0;
}

.card .card-body {
  padding: 15px 15px 10px 15px;
}

.card-body > div > div.col-5.col-md-4 > img {
  padding-left: 10px;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 2em;
  padding-right: 10px;
}

.card-stats .card-body .numbers .card-category {
  color: #333a6e;
  font-size: 16px;
  line-height: 1.4em;
}

.card-stats .card-body .numbers p {
  margin-bottom: 0;
}

.card-stats .card-footer {
  padding: 0 15px 15px;
}

.card .card-footer {
  background-color: transparent;
  border: 0;
}

//.card-stats .card-body .numbers span{
//  color: #333a6e;
//  font-size: 20px;
//  text-align: left;
//}
.card-stats .card-body .details span {
  color: #333a6e;
  font-size: 20px;
  text-align: left;
}

.table thead tr th {
  border-top: none;
  color: #333a6e !important;
}


.table tbody tr td {
  text-align: left;
}


/*--------------------------------------------------------------
# dashboard calendar
--------------------------------------------------------------*/

//div, ul, li {
//  list-style-type: none;
//}

//.planner {
//  font-family: 'Trebuchet MS', sans-serif;
//  width: auto;
//  ////height: auto;
//  min-height: calc(100vh - 75px);
//  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
//  border: 1px solid rgba(0, 0, 0, 0.125);
//  border-radius: 15px;
//  overflow: hidden;
//}
//
//.calendar {
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  min-width: 0;
//  background-color: #fff8ee;
//  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
//}
//
//.calendar-header {
//  color: #333a6e;
//  border-bottom: 1px solid #ddd;
//  background-color: rgba(0, 0, 0, 0.03);
//  text-align: justify;
//  line-height: 0;
//  font-size: 0;
//  padding: 0.75rem 1.25rem;
//  margin-bottom: 0;
//  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//}
//
//.calendar-header span {
//  display: inline-block;
//  font-size: 20px;
//  font-weight: 500;
//  color: #333a6e;
//  text-align: center;
//  align-items: center;
//  align-content: center;
//  line-height: 20px;
//}
//
//.calendar-header:after {
//  content: '';
//  display: inline-block;
//  width: 100%;
//}
//
//
//table {
//  width: 100%;
//  padding: 10px;
//  color: #333a6e;
//}
//
//th {
//  font-weight: normal;
//  font-size: 14px;
//  color: #333a6e;
//}
//
//td {
//  font-weight: normal;
//  font-size: 12px;
//  text-align: center;
//}
//
//
//td > span {
//  display: inline-block;
//  text-align: center;
//  padding: 3px;
//  margin: 0;
//  width: 20px;
//  height: 20px;
//  line-height: 20px;
//}
//
//td > span:hover {
//  font-weight: bold;
//}
//
//td > span.active {
//  border: 1px solid #ac7b8b;
//  border-radius: 30px;
//}

//td > span:active {
//  border: 2px solid #ac7b8b;
//  border-radius: 30px;
//}


//.schedule {
//  margin: 0;
//}
//
//.tabs {
//  margin: 0;
//  padding: 0;
//  text-align: justify;
//  line-height: 0;
//  font-size: 0;
//  background-color: rgba(0, 0, 0, 0.03);
//}
//
//.tabs .tab {
//  display: inline-block;
//  width: 33.3333%;
//  background-color: rgba(0, 0, 0, 0.03);
//  text-align: center;
//  color: #333a6e;
//  margin: 0;
//  padding: 0;
//  border: 0 none;
//  line-height: 38px;
//  font-size: 14px;
//  transition: background 0.2s;
//}
//
//.tab:active {
//  background-color: #fff8ee;
//  color: #333a6e;
//  font-weight: 600;
//}
//
//.tab:active:hover {
//  background-color: rgba(0, 0, 0, 0.03);
//}
//
//
//.tabs .tab:hover {
//  background-color: rgba(0, 0, 0, 0.03);
//}
//
//a {
//  color: inherit;
//  text-decoration: none;
//}
//
//.tabs:after {
//  content: '';
//  width: 100%;
//  display: inline-block;
//}
//
//
//.schedule-list {
//  padding: 20px;
//  margin-left: 37px;
//  border-left: 2px solid #ddd;
//  display: block;
//  background-color: #fff8ee;
//}
//
//.schedule-item {
//  display: block;
//  margin-bottom: 50px;
//  padding: 0;
//  clear: both;
//  min-height: 100px;
//  overflow: visible;
//}
//
//.schedule-item:last-child {
//  margin-bottom: 10px;
//  min-height: 30px;
//}
//
//.time {
//  display: block;
//  float: left;
//  margin-left: -41px;
//  width: 36px;
//  height: 36px;
//  border: 2px solid #ddd;
//  background-color: #ffffff;
//  color: #333a6e;
//  border-radius: 40px;
//  text-align: center;
//  padding: 0;
//  line-height: 25px;
//}
//
//.time span {
//  font-size: 12px;
//  height: 10px;
//  margin: auto;
//  display: block;
//}
//
//.description {
//  display: block;
//  float: left;
//  width: 305px;
//  margin-top: 10px;
//  margin-left: 10px;
//  color: #333a6e;
//  font-weight: bold;
//  font-size: 14px;
//  overflow: visible;
//}
//
//.description .description-content {
//  margin-top: 5px;
//}
//
//.description .description-content p {
//  font-size: 12px;
//  margin: 0;
//  color: #333a6e;
//}
//
//.description .description-content ul.contact-list {
//  margin: 10px 0 0;
//  padding: 0;
//}
//
//.description .description-content ul.contact-list li.contact {
//  overflow: hidden;
//  display: block;
//  float: left;
//  padding: 0;
//  border: 2px solid fade-out(#333a6e, 0.25);
//  border-radius: 60px;
//  width: 56px;
//  height: 56px;
//  text-decoration: none;
//  text-align: center;
//  margin: 0 10px 0 0;
//  transition: all 0.2s;
//}
//
//.description .description-content ul.contact-list li.contact images {
//  width: 60px;
//  height: 60px;
//}
//
//
//.description .description-content ul.contact-list li.contact.add-contact {
//  color: #333a6e;
//  font-size: 20px;
//  line-height: 60px;
//}
//
//.description .description-content ul.contact-list li.contact.add-contact a {
//  color: inherit;
//  text-decoration: none;
//}
//
//.description .description-content ul.contact-list li.contact .add-contact a:hover {
//  background-color: fade-out(#333a6e, 0.25);
//}
//
//.schedule-item.free .time {
//  border: 2px solid #333a6e;
//}
//
//.schedule-item.free .description .description-header {
//  background-color: #ffffff;
//  color: #c5c5c5;
//  display: block;
//  float: left;
//
//}
//
//.schedule-item.free .description .description-content {
//  margin-left: 5px;
//  margin-top: 0;
//  content: '';
//  width: 215px;
//  display: block;
//  float: right;
//  background-repeat: no-repeat;
//  background-position: right center;
//}


html body .card {
  font-family: 'Trebuchet MS', sans-serif;
  width: auto;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff8ee;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

html body .card-header {
  color: #333a6e;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500 !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

html body .card-header .prevMonth {
  cursor: pointer
}

html body .card-header .nextMonth {
  cursor: pointer
}

html body .card-body .days span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333a6e;
  text-align: center;
  align-items: center;
  align-content: center;
  line-height: 20px;
}

html body .card-body .dates span {
  // background: #f4bdc6;
  color: #333a6e;
  font-size: 14px;
  font-weight: 400;
  border-radius: 30%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  align-items: center;
  align-content: center;
}

#dates tr td {
  text-align: center !important;
  align-items: center !important;
  align-content: center !important;
}

html body .card-body .dates span.active,
html body .card-body .dates span:hover {
  background: #ffeef0;
}

html body .card-body .dates span.ntMonth {
  color: #938e8e;

}

html body .card-body .dates span.ntMonth:hover {
  background: #ffeef0;
  color: #333a6e;
  font-weight: 500;
}

html body .card#event .card-header .close {
  color: #333a6e;
  opacity: 1
}

html body .card#event .card-body .events-today {
  height: 210px;
  overflow-x: hidden
}

html body .card#event .card-body .events-input .data-invalid {
  border-color: red
}

html body .card#event .card-body .events-input .error {
  font-size: 12px;
  color: red;
  position: absolute;
  top: 100%
}

@media(max-width: 767px) {
  html body .card-body .days span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }
  html body .card-body .dates span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }
  html body .card#event .card-body .events-today {
    height: 188px
  }
}


@import "bootstrap";
